attrs==25.1.0
cachetools==5.5.1
coverage==7.6.12
et_xmlfile==2.0.0
geojson==3.2.0
html5rdf==1.2.1
iniconfig==2.0.0
lxml==5.3.1
numpy==2.2.2
openpyxl==3.1.5
otlmow_converter==1.8
otlmow_model==2.14.0.5
otlmow_modelbuilder==0.27
owlrl==7.1.3
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
prettytable==3.14.0
pyparsing==3.2.1
pyshacl==0.30.0
pytest==8.3.4
pytest-cov==4.0.0
pytest-subtests==0.14.1
python-dateutil==2.9.0.post0
pytz==2025.1
rdflib==7.1.3
six==1.17.0
tqdm==4.67.1
tzdata==2025.1
wcwidth==0.2.13
